.settingPage {
  margin: 5px;
  color: var(--unnamed-color-274daa);
}

.checkbox {
  gap: 5px;
  padding-top: 5px;
}


.radioCheckbox {
  border-bottom: 1px solid var(--unnamed-color-D395A6);
  width: 300px !important;
  margin-left: 5px !important;
  gap:10px;
  margin-top:10px;
  padding-bottom: 5px;
  color: var(--unnamed-color-222222);
}
