<div class="d-flex row align-items-center p-3">
  <section class="col-4 row align-items-center">
    <span class="ml-2">{{ 'paginator.mat_select_records' | translate }}</span>
    <mat-form-field class="material-form">
      <mat-select [(ngModel)]="selectedNumberOfItems" (selectionChange)="handlePaginationChange()">
        <mat-option *ngFor="let paginatorSelectOption of paginatorSelectOptions" [value]="paginatorSelectOption.value">
          {{ paginatorSelectOption.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section class="col-6 page-numbers align-items-center">
    <mat-icon class="arrow" (click)="moveBackwardPage()">chevron_left</mat-icon>
    <planet-paginator-page-number
      *ngFor="let page of pages"
      [isActive]="page === currentPage"
      [pageNumber]="page"
      (click)="changePage(page)"
    ></planet-paginator-page-number>
    <mat-icon class="arrow" (click)="moveForwardPage()">chevron_right</mat-icon>
  </section>
</div>
