<section class="page-container">
  <section class="page-title">
    <h1 class="welcome">{{ 'main_dashboard.header' | translate }}</h1>
    <span>
      {{ 'main_dashboard.header_text_up' | translate }}
      <br />
      {{ 'main_dashboard.header_text_down' | translate }}
    </span>
  </section>

  <div class="row d-flex mt-5">
    <div *ngFor="let card of userDashboardCards">
      <mat-card
        class="ml-2 mr-2 dashboard-card"
        [ngClass]="{
          first: userDashboardCards.indexOf(card) === 0,
          second: userDashboardCards.indexOf(card) === 1,
          third: userDashboardCards.indexOf(card) === 2
        }"
      >
        <mat-card-header>
          <mat-card-title> {{ 'main_dashboard.mat_card.' + card.cardName | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button class="ml-4 mt-5" mat-button>{{ 'button.main_dashboard.' + card.buttonName | translate }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <h2 class="modules title">{{ 'main_dashboard.modules' | translate }}</h2>

  <mat-grid-list cols="2" rowHeight="250px" class="box">
    <mat-grid-tile *ngFor="let card of modulesCards">
      <div
        [ngClass]="{
          moduleFirst: modulesCards.indexOf(card) === 0,
          moduleSecond: modulesCards.indexOf(card) === 1,
          moduleThird: modulesCards.indexOf(card) === 2,
          moduleFourth: modulesCards.indexOf(card) === 3
        }"
      >
        <div class="mat-grid-card row justify-content-between">
          <span>{{ 'main_dashboard.mat-grid-card.' + card.cardName | translate }}</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="mr-5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon> {{ card.matIcon }}</mat-icon>
              <span>W budowie</span>
            </button>
          </mat-menu>
        </div>
        <div class="actionsCardTwo">
          <a routerLink="/{{ card.router }}" routerLinkActive="active"
            >{{ 'button.main_dashboard.go_forward' | translate }}
            <mat-icon class="ml-2 actionsCardTwoarrow">arrow_forward</mat-icon></a
          >
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
