@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');

.page-container {
  background-image: url('/assets/images/layered-waves-haikei.svg');
  background-size: 100%;
  width: 100%;
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 2%;
  height: 100%;
}

.page-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: start;
  font-family: 'Open Sans';
  color: var(--unnamed-color-274daa);

  .welcome {
    font-weight: 700;
    padding-right: 30px;
    border-right: 2px solid var(--unnamed-color-274daa);
  }
}

.dashboard-card {
  width: 400px;
  color: var(--unnamed-color-ffffff);
}
.first {
  background-image: linear-gradient(to right, var(--unnamed-color-7da6ed), var(--unnamed-color-dde8f9));
}
.second {
  background-color: var(--unnamed-color-27c722);
}
.third {
  background-color: var(--unnamed-color-D395A6);
}

.modules {
  color: var(--unnamed-color-274daa);
  margin-top: 2rem;

  .title {
    font-family: 'Open Sans';
    font-weight: 700;
  }
}

.settingPage {
  background-image: url('/assets/images/layered-waves-haikei.svg');
  background-size: 100%;
  padding: 0 11% 0 11%;
  height: 100%;
  width: 100%;
}


.moduleFirst {
  width: 600px;
  height: 200px;
  background-color: #ffffff;
  border-left: 10px solid var(--unnamed-color-274daa);
  border-radius: 15px;
  font-size: 1rem;
  font-family: 'Open Sans';
}
.moduleSecond {
  width: 600px;
  height: 200px;
  background-color: #ffffff;
  border-left: 10px solid var(--unnamed-color-27c722);
  border-radius: 15px;
  font-size: 1rem;
  font-family: 'Open Sans';
}
.moduleThird {
  width: 600px;
  height: 200px;
  background-color: #ffffff;
  border-left: 10px solid var(--unnamed-color-D496A7);
  border-radius: 15px;
  font-size: 1rem;
  font-family: 'Open Sans';
}
.moduleFourth {
  width: 600px;
  height: 200px;
  background-color: #ffffff;
  border-left: 10px solid var(--unnamed-color-7da6ed);
  border-radius: 15px;
  font-size: 1rem;
  font-family: 'Open Sans';
}

::ng-deep .mat-card {
  height: 220px;
  width: 442px;
  font-size: 17px;
  font-family: 'Open Sans';
  background-color: #7da6ed;
  & ::ng-deep .mat-button {
    background-color: transparent;
    border-color: white;
    border: 2px solid white;
    outline: white !important;
    font-family: 'Open Sans';
    color: white;
    border-radius: 7px;
  }
}

.mat-grid-card {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  font-family: 'Open Sans';
  font-size: 28px;
}

::ng-deep .mat-card-actions {
  padding-top: 10px;
  font-family: 'Open Sans';
}

::ng-deep .mat-flat-button-focus {
  background-color: wheat;
  border-color: rgb(216, 25, 25);
  border: 4px solid;
  outline: white;
}



::ng-deep .box {
  width: 85% !important;
  margin-left: -20px !important;
}

.actionsCardTwo {
  margin-left: 1.5rem;
  margin-top: 1.4rem;
  width: 150px;
  height: 3rem;
  margin-bottom: 2rem;
  .actionsCardTwoarrow {
    padding-top: 0.4rem;
  }
}
