<div class="settingPage">
  <h2>Dodawanie misji</h2>
  <span>Wprowadź dane</span>
  <form class="mt-4 tomek">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="">
          <mat-label>Kryptonim misji</mat-label>
          <input matInput type="text" class="input" formControlName="" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="">
          <mat-label>Termin misji</mat-label>
          <input matInput type="text" formControlName="" [matDatepicker]="datepicker" />
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Anuluj</button>
              <button mat-raised-button color="primary" matDatepickerApply>Zatwierdź</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Budżet misji</mat-label>
          <input matInput type="text" class="input" formControlName="" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Status misji</mat-label>
          <input matInput type="text" formControlName="" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="color d-flex justify-content-end">
  <button class="m-3 button">Tomek</button>
  <button class="m-3 button">Tomek</button>
</div>
