.settingPage {
  margin: 3%;
}

mat-form-field {
  width: 100%;
  margin-left: 0px;
  padding: 0px;
}

::ng-deep .mat-dialog-container {
    margin: 0px !important;
    padding: 0px !important;
}

.color{
    background-color:#DDE8F9;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5rem;
    height: 100px;
}
.button {
    height: 25px;
}


  