<div class="settingPage">
  <div *ngIf="!changedViewDialog">
    <h2 *ngIf="!isEdit" class="mat-dialog-heading">{{ 'manage_mission.form_add_mission.header' | translate }}</h2>
    <h2 *ngIf="isEdit" class="mat-dialog-heading">{{ 'manage_mission.form_add_mission.header_edit' | translate }}</h2>
    <span>{{ 'manage_mission.form_add_mission.header_text' | translate }}</span>
    <form [formGroup]="missionFormGroup" class="mt-4">
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>{{ 'manage_mission.form_add_mission.codename' | translate }}</mat-label>
            <input matInput type="text" class="input" formControlName="{{ missionFormControlsName.CODENAME }}" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>{{ 'manage_mission.form_add_mission.mission_date' | translate }}</mat-label>
            <input matInput type="date" formControlName="{{ missionFormControlsName.MISSION_DATE }}" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="mat-form-budget col-5">
          <mat-form-field>
            <mat-label>{{ 'manage_mission.form_add_mission.budget' | translate }}</mat-label>
            <input
              matInput
              type="text"
              currencyMask
              [options]="currencyConfig"
              class="input"
              formControlName="{{ missionFormControlsName.BUDGET }}"
            />
          </mat-form-field>
        </div>
        <div class="currency col-1"><span>zł</span></div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>{{ 'manage_mission.form_add_mission.status' | translate }}</mat-label>
            <mat-select formControlName="{{ missionFormControlsName.STATUS }}">
              <mat-option *ngFor="let status of statuses" value="{{ status.value }}"> {{ status.type }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!changedViewDialog" class="dialog-footer d-flex justify-content-end">
  <button class="m-3 button buttonCancel" (click)="close()">
    {{ 'button.manage_mission.action.cancel' | translate }}
  </button>
  <button class="m-3 button buttonSave" (click)="saveForm()">
    {{ 'button.manage_mission.action.save' | translate }}
  </button>
</div>

<div *ngIf="afterActionCreate && changedViewDialog" class="settingPage">
  <div class="settingPage afterActions">
    <img src="../../../../assets/images/ikon-ok.svg" />
    <span class="ml-2"> {{ 'manage_mission.form_add_mission.text_after_created' | translate }} {{ missionName }}.</span>
  </div>
</div>

<div *ngIf="afterActionEdit && changedViewDialog" class="settingPage">
  <div class="settingPage afterActions">
    <img src="../../../../assets/images/ikon-ok.svg" />
    <span class="ml-2">{{ 'manage_mission.form_add_mission.text_after_edit' | translate }}</span>
  </div>
</div>

<div *ngIf="changedViewDialog" class="dialog-footer d-flex justify-content-end">
  <button class="m-3 button buttonAfterCancel" (click)="navigateToDashboard()">
    {{ 'button.manage_mission.action.back_dashboard' | translate }}
  </button>
  <button class="m-3 button buttonAterSave" (click)="close()">
    {{ 'button.manage_mission.action.back_list' | translate }}
  </button>
</div>
