.header {
  padding: 1em;
  background-color: #274daa;
  color: white;
  height: 80px;
}

.img {
  height: 50px;
  width: 90px;
  margin-left: 185px;
  cursor: pointer;
}

.imgFlagUK {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.imgFlagPolish {
  height: 40px;
  width: 40px;
  border-radius: 70px;
  cursor: pointer;
  margin-left: 10px;
}

.menuRight {
  gap: 15px;
}

::ng-deep .mat-icon {
  transform: scale(2);
}

.icon {
  height: 50px;
  width: 50px;
  margin-top: 8px;
  margin-left: 15px;
}
