<table
  mat-table
  [dataSource]="missions"
  class="setting-table"
  matSort
  matSortActive="codename"
  matSortDirection="desc"
>
  <ng-container matColumnDef="codename">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-heading-setting-left">
      {{ 'manage_mission.missions_data_table.mission_codename' | translate }}
    </th>
    <td class="table-row-setting-left" mat-cell *matCellDef="let mission">{{ mission.codename }}</td>
  </ng-container>

  <ng-container matColumnDef="missionsDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-setting-middle">
      {{ 'manage_mission.missions_data_table.mission_date' | translate }}
    </th>
    <td class="table-row-setting-middle" mat-cell *matCellDef="let mission">{{ mission.missionsDate }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-setting-middle">
      {{ 'manage_mission.missions_data_table.status' | translate }}
    </th>
    <td class="table-row-setting-middle" mat-cell *matCellDef="let mission">{{ mission.statusDisplay}}</td>
  </ng-container>

  <ng-container matColumnDef="budget">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-setting-middle">
      {{ 'manage_mission.missions_data_table.budget' | translate }}
    </th>
    <td class="table-row-setting-middle" mat-cell *matCellDef="let mission">{{ mission.budget }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef class="table-setting-middle"></th>
    <td class="table-row-setting-middle" mat-cell *matCellDef="let mission">
      <button class="table-button">{{ 'button.manage_mission.see_more' | translate }}</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Więcej">
    <th mat-header-cell *matHeaderCellDef class="table-setting-right">
      {{ 'manage_mission.missions_data_table.more' | translate }}
    </th>
    <td class="table-row-setting-middle" mat-cell *matCellDef="let mission">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editMission(mission)">
          <mat-icon>create</mat-icon>
          <span>{{ 'manage_mission.missions_data_table.mat_menu_edition' | translate }}</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>picture_as_pdf</mat-icon>
          <span>{{ 'manage_mission.missions_data_table.mat_menu_pdf' | translate }}</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>
