
.card2{
    margin-top: 150px;
}

.settingPageCard {
    margin-top: 4vw;
    margin-bottom: 4vw;
}
::ng-deep .mat-form-field {
    font-size: 14px; 
    width: 300px;
}

.card {
    height: 250px;
}