.header {
    padding: 1em;
    background-color: var(--unnamed-color-222222);
    height: 80px;
}

.img {
    height: 50px;
    width: 90px;
    margin-left: 185px;
}

.versionApp{
    color: var(--unnamed-color-ffffff);
    font-family: 'Open Sans';
    font-size: 14px;
    margin-right:10%;
}

